/* button{
    margin-right: 2rem;
} */

mat-sidenav-container{
    height: 100%;
}

mat-sidenav, mat-sidenav-content{
    padding: 16px;
}

mat-sidenav{
    width: 200px;
    background-color: coral;
}

mat-grid-tile{
    background-color: lightblue;
}
