<!-- <div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<div class="mat-headline">This is display 4</div>
<div class="mat-title">This is display 3</div>
<div class="mat-subheading-2">This is display 2</div>
<div class="mat-subheading-1">This is display 1</div>

<div class="mat-body-1">This is display 3</div>
<div class="mat-body-2">This is display 2</div>
<div class="mat-caption">This is display 1</div>


<div class="mat-typography">
  <h1>Something</h1>
  <h2>Something</h2>
  <h3>Something</h3>
  <h4>Something</h4>
</div> -->



<!-- <button mat-button>Click Me</button>
<button mat-raised-button>Click Me</button>
<button mat-flat-button>Click Me</button>
<button mat-stroked-button>Click Me</button>

<button mat-icon-button>I</button>
<button mat-fab>I</button>
<button mat-mini-fab>I</button>

<button color="primary" mat-button>Click Me</button>
<button color="primary" disableRipple mat-raised-button>Click Me</button> -->


<!-- <mat-button-toggle #toggleBtn checked>Toggle</mat-button-toggle>
{{toggleBtn.checked}}

<mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
  <mat-button-toggle value="angular" >Angular</mat-button-toggle>
  <mat-button-toggle value="react" >React</mat-button-toggle>
  <mat-button-toggle value="vue" >Vue</mat-button-toggle>

</mat-button-toggle-group>
{{toggleGroup.value}} -->


<!-- <mat-icon>grade</mat-icon> -->

<!-- <div>
<span [matBadge]="notifications" matBadgeOverlap="false">Notifications</span>
</div>

<div>
  <span matBadge="5" matBageSize="medium" matBadgePosition="below before">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="accent" matBadgePosition="above before">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below after">Notifications</span>
</div> -->

<!-- <mat-progress-spinner value="40"></mat-progress-spinner> -->
<!-- <mat-spinner *ngIf="showSpinner"></mat-spinner>
<button (click)="loadData()">Load Data</button> -->

<!-- <mat-toolbar color="primary">
  <div>Kingshuk</div>
  <div class="span">Home</div>
  <div class="span">About</div>
  <div class="span">Service</div>
</mat-toolbar> -->

<!-- <mat-sidenav-container>
  <mat-sidenav mode="over" opened>Sidenav</mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container> -->

<!-- <mat-menu #appMenu="matMenu" xPosition="after" yPosition="below">
  <button mat-menu-item>FrontEnd</button>
  <button mat-menu-item>BackEnd</button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button> -->


<!-- <mat-list dense>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 1</mat-list-item>
</mat-list>

<mat-nav-list>
  <a mat-list-item href="#">Home</a>
  <a mat-list-item href="#">Messages</a>
  <a mat-list-item href="#">Settings</a>

</mat-nav-list> -->


<!-- <mat-list>
  <mat-list-item>
    <mat-icon matListIcon>home</mat-icon>
    <h3 matLine>Heading</h3>
    <p matLine>Line</p>
  </mat-list-item>
  <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListIcon>home</mat-icon>
      <h3 matLine>Heading</h3>
      <p matLine>Line</p>
    </mat-list-item>
</mat-list> -->


<mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">
  <mat-grid-tile rowspan="2"> Tile 1</mat-grid-tile>
  <mat-grid-tile>Tile 1</mat-grid-tile>
  <mat-grid-tile>Tile 1</mat-grid-tile>
  <mat-grid-tile>Tile 1</mat-grid-tile>
</mat-grid-list>

